<h1>Products</h1>

<%= form_tag "products/post" do %>
  <%= label_tag :product, "Product" %>
  <%= text_field_tag :product %>

  <%= submit_tag "add to cart" %>
<% end %>

<% if session[:cart].blank? %>
  <p>Your cart is empty.</p>
<% else %>
  <ul>
    <% session[:cart].each do |item| %>
      <li><%= item %></li>  <!-- Display each item -->
    <% end %>
  </ul>
<% end %>
